<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dt.dtpt.mybatis.mapper.publicwx.WxMenuPublicMapper">
  <resultMap id="BaseResultMap" type="com.dt.dtpt.mybatis.model.publicwx.WxMenuPublic">
    <!--
      WARNING - @mbggenerated
    -->
    <result column="PUBLIC_MENU_ID" jdbcType="VARCHAR" property="publicMenuId" />
    <result column="PUBLIC_ID" jdbcType="VARCHAR" property="publicId" />
    <result column="PUBLIC_MENU_NAME" jdbcType="VARCHAR" property="publicMenuName" />
    <result column="PARENT_ID" jdbcType="VARCHAR" property="parentId" />
    <result column="SOLUTION_MENU_ID" jdbcType="VARCHAR" property="solutionMenuId" />
    <result column="MENU_TYPE" jdbcType="INTEGER" property="menuType" />
    <result column="MENU_XH" jdbcType="INTEGER" property="menuXh" />
    <result column="EDIT_DATE" jdbcType="TIMESTAMP" property="editDate" />
    <result column="COMMON" jdbcType="VARCHAR" property="common" />
  </resultMap>
</mapper>